<article>
	<h4>Menu</h4>
		<br>
		<a href="/index.html">Home</a><br>
		<a href="/poetry.html">Poetry</a><br>
		<a href="/gamemods.html">Game Mods</a><br>
		<a href="/speedrunguides.html">Speedrun Guides</a><br>
		<a href="/webnostalgia.html">Web Nostalgia</a><br>
		<a href="/links.html">Links</a>
		<hr class="menu">
	<h4>My Social Links</h4>
		<br>
		<a rel="me" href="https://www.youtube.com/user/Binarynova/playlists">YouTube Channel</a><br>
		<a ref="me" href="http://www.twitch.tv/binarynova">Twitch Channel</a><br>
		<a rel="me" href="https://twitter.com/Binarynova">Twitter</a><br>
		<a href="/feed.xml">RSS Feed</a><br>
		<hr class="menu">
	<p>
		<img alt="Get IE!" src="/img/ie_anim.gif"><br>
		<img alt="Netscape Now!" src="/img/ns_logo.gif"><br>
		<a href="http://jigsaw.w3.org/css-validator/check/referer">
		<img src="/img/vcss-blue.gif" alt="Valid CSS!" />
		</a><br>
		<a href="http://validator.w3.org/check/referer">
		<img src="/img/html5-logo.png" alt="Valid HTML5!" />
		</a>			
	</p>
</article>