<article>
	<h3>Menu</h3>
		<a href="/index.html">Home</a><br>
		<a href="/poetry/">Poetry</a><br>
		<a href="/gamemods/">Game Mods</a><br>
		<a href="/speedrunguides/">Speedrun Guides</a><br>
		<a href="/webnostalgia/">Web Nostalgia</a><br>
		<a href="/links/">Links</a>
		<hr class="menu">
	<h3>My Social Links</h3>
		<a rel="me" href="https://www.youtube.com/user/Binarynova/playlists">YouTube Channel</a><br>
		<a ref="me" href="http://www.twitch.tv/binarynova">Twitch Channel</a><br>
		<a rel="me" href="https://twitter.com/Binarynova">Twitter</a><br>
		<a href="/feed.xml">RSS Feed</a><br>
		<hr class="menu">
	<p>
		<img alt="Get IE!" src="/img/ie_anim.gif"><br>
		<img alt="Netscape Now!" src="/img/ns_logo.gif"><br>
		<a href="http://jigsaw.w3.org/css-validator/check/referer">
		<img src="/img/vcss-blue.gif" alt="Valid CSS!" />
		</a><br>
		<a href="http://validator.w3.org/check/referer">
		<img src="/img/html5-logo.png" alt="Valid HTML5!" />
		</a>			
	</p>
</article>
